<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application>
        <activity
            android:name=".InternalActivity"
            android:exported="true"
            android:label="@string/title_activity_internal"
            android:theme="@style/Theme.Calculator" />
    </application>

</manifest>
